<% form_for(@milestone) do |f| %>
  <%= f.error_messages %>


  <p>
    <%= f.label :rulemaking_id %><br />
    <%= f.collection_select :rulemaking_id, Rulemaking.all, :id, :short_name %>
  </p>
  <p>
    <%= f.label :phase_id %><br />
    <%= f.collection_select :phase_id, Phase.all, :id, :phase %>
  </p>
  <p>
    <%= f.label :task_id %><br />
    <%= f.collection_select :task_id, Task.all, :id, :task %>
  </p>
  <p>
    <%= f.label :date_category_id %><br />
    <%= f.collection_select :date_category_id, DateCategory.all, :id, :date_category %>
  </p>

  <p>
    <%= f.label :milestone %><br />
    <%= f.date_select :milestone %>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>


<% end %>
