<h1>Listing milestones</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Rulemaking</th>
    <th>Phase</th>
    <th>Activity</th>
    <th>Date category</th>
    <th>Milestone</th>
  </tr>

<% @milestones.each do |milestone| %>
  <tr>
    <td><%=h milestone.id %></td>
    <td><%=h milestone.rulemaking.short_name %></td>
    <td><%=h milestone.phase.phase%></td>
    <td><%=h milestone.activity.activity %></td>
    <td><%=h milestone.date_category.date_category %></td>
    <td><%=h milestone.milestone.to_date %></td>
    <% if admin? %>
    <td><%= link_to 'Show', milestone %></td>
    <td><%= link_to 'Edit', edit_milestone_path(milestone) %></td>
    <td><%= link_to 'Destroy', milestone, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New milestone', new_milestone_path if admin? %>