<h1>Listing milestones</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Rulemaking</th>
    <th>Phase</th>
    <th>Task</th>
    <th>Date category</th>
    <th>Milestone</th>
    <th>Revision Number</th>
  </tr>

<% @milestones.each do |milestone| %>
  <tr>
    <td><%=h milestone.id %></td>
    <td><%=h milestone.rulemaking.try(:short_name) %></td>
    <td><%=h milestone.phase.phase%></td>
    <td><%=h milestone.task.task %></td>
    <td><%=h milestone.date_category.date_category %></td>
    <td><%=h milestone.milestone %></td>
    <td><%=h milestone.revision_number %></td>
    <% if admin? %>
    <td><%= link_to 'Show', milestone %></td>
    <td><%= link_to 'Edit', edit_milestone_path(milestone) %></td>
    <td><%= link_to 'Destroy', milestone, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New milestone', new_milestone_path if admin? %>