<p>
  <b>Rulemaking:</b>
  <%=h @milestone.rulemaking_id %>
</p>

<p>
  <b>Phase:</b>
  <%=h @milestone.phase_id %>
</p>

<p>
  <b>Task:</b>
  <%=h @milestone.task_id %>
</p>

<p>
  <b>Date category:</b>
  <%=h @milestone.date_category_id %>
</p>

<p>
  <b>Milestone:</b>
  <%=h @milestone.milestone %>
</p>

<p>
  <b>Revision:</b>
  <%=h @milestone.revision_number %>
</p>

<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>