<% form_for(@rulemaking) do |f| %>
<% if f.error_messages %>
<div class="error"><%= f.error_messages %></div>
<% end %>

  <p>
    <%= f.label :rule %>
    <%= f.text_field :rule %>

    <%= f.label :rule_type_id %>
    <%= f.collection_select :rule_type_id, RuleType.all, :id, :rule_type %>

    <%= f.label :doe_project_manager_id %>
    <%= f.collection_select :doe_project_manager_id, DoeProjectManager.all, :id, :project_manager %>
  </p>
  <p>
    <%= f.label :legislative_deadline %>
    <%= f.date_select :legislative_deadline %>

    <%= f.label :phase_id %>
    <%= f.collection_select :phase_id, Phase.all, :id, :phase  %>

    <%= f.label :activity_id %>
    <%= f.collection_select :activity_id, Activity.all, :id, :activity %>
  </p>
  <p>
    <%= f.label :short_name %>
    <%= f.text_field :short_name %>
  </p>
  <p>
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </p>
  <div class="span-12">
    <fieldset>
    <legend>Contractors working on this rulemaking:</legend>
  <% for contractor in Contractor.find(:all) %>
      <div>
        <%= check_box_tag "rulemaking[contractor_ids][]", contractor.id, @rulemaking.contractors.include?(contractor) %>
        <%= contractor.contractor %>
      </div>
  <% end  %>
    </fieldset>
    </div>

  <div class="span-12 last">
    <fieldset>
    <legend>Legislation driving this rulemaking:</legend>
    <% for driver in Driver.find(:all) %>
    <div>
      <%= check_box_tag "rulemaking[driver_ids][]", driver.id, @rulemaking.drivers.include?(driver) %>
      <%= driver.driver %>
    </div>
    <%  end %>
    </fieldset>
  </div>
  
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
