<h1>Listing rulemakings</h1>

<table>
  <tr>
    <th><%=order(@search, :by => :id) %></th>
    <th><%=order(@search, :by => :rulemaking) %></th>
    <th><%=order(@search, :by => :rule_type) %></th>
    <th><%=order(@search, :by => :notes) %></th>
    <th><%=order(@search, :by => :doe_project_manager) %></th>
    <th><%=order(@search, :by => :legislative_deadline) %></th>
    <th><%=order(@search, :by => :phase) %></th>
    <th><%=order(@search, :by => :activity) %></th>
    <th><%=order(@search, :by => :short_name) %></th>
  </tr>

<% @rulemakings.each do |rulemaking| %>
  <tr>
    <td class="attribute string"><%=h rulemaking.id %></td>
    <td class="attribute string"><%= link_to rulemaking.rule, rulemaking %></td>
    <td class="attribute string"><%=h rulemaking.rule_type.rule_type_abbreviation %></td>
    <td class="attribute string"><%=h rulemaking.notes %></td>
    <td class="attribute string"><%=h rulemaking.doe_project_manager.try(:project_manager) %></td>
    <td class="attribute string"><%=h rulemaking.legislative_deadline.to_formatted_s(:long) if rulemaking.legislative_deadline %></td>
    <td class="attribute string"><%=h rulemaking.phase_id %></td>
    <td class="attribute string"><%=h rulemaking.activity_id %></td>
    <td class="attribute string"><%=h rulemaking.short_name %></td>
    <% if admin? %>
    <td class="button edit"><%= link_to 'Edit', edit_rulemaking_path(rulemaking) %></td>
    <td class="button delete" ><%= link_to 'Destroy', rulemaking, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New rulemaking', new_rulemaking_path if admin? %>

