<table class="datatable">
  <caption>Listing rulemakings</caption>
  <tr>
    <th><%=order(@search, :by => :rule) %></th>
    <th><%=order(@search, :by => :rule_type) %></th>
    <th><%=order(@search, :by => :doe_project_manager) %></th>
    <th><%=order(@search, :by => :legislative_deadline) %></th>
    <th>Rulemaking Phase<%#=order(@search, :by => :phase) %></th>
    <th>Rulemaking Activity<%#=order(@search, :by => :activity) %></th>
    <th><%=order(@search, :by => :short_name) %></th>
  </tr>

<% @rulemakings.each do |rulemaking| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= link_to rulemaking.rule, rulemaking %></td>
    <td><%=h rulemaking.rule_type.rule_type_abbreviation %></td>
    <td><%=h rulemaking.doe_project_manager.try(:project_manager) %></td>
    <td><%=h rulemaking.legislative_deadline if rulemaking.legislative_deadline %></td>
    <td><%= rulemaking.phase %></td>
    <td><%=h rulemaking.activity  %></td>
    <td><%=h rulemaking.short_name %></td>
    <% if admin? %>
    <td><%= link_to 'Edit', edit_rulemaking_path(rulemaking) %></td>
    <td><%= link_to 'Destroy', rulemaking, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end -%>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New rulemaking', new_rulemaking_path, :class => "button" if admin?  %>

