<% form_for(@rule_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :rule_type %><br />
    <%= f.text_field :rule_type %>
  </p>
  <p>
    <%= f.label :rule_type_abbreviation %><br />
    <%= f.text_field :rule_type_abbreviation %>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
