<p>
  <b>Task:</b>
  <%=h @task.task %>
</p>

<p>
  <b>Task abbreviation:</b>
  <%=h @task.task_abbreviation %>
</p>

<p>
  <b>Sort:</b>
  <%=h @task.sort %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>