<%= error_messages_for :user %>
<% form_for @user do |f| -%>

<p><label for="first">First name</label><br/>
<%= f.text_field :first %></p>

<p><label for="last">Last name</label><br/>
<%= f.text_field :last %></p>

<p><label for="organization">Organization</label><br/>
<%= f.text_field :organization %></p>

<p><label for="login">Login</label><br/>
<%= f.text_field :login %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email %></p>

<p><label for="password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<% if admin? %>
  <p><%= f.label :admin %><%= f.check_box :admin, :disabled =>  current_user == @user %>
  <%= "(An admin cannot revoke her own admin privileges.)" unless current_user != @user %></p>
<% end %>

<p><%= submit_tag 'Save' %></p>
<% end -%>