<h1>Editing revision</h1>

<% form_for(@revision) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :revision_number %><br />
    <%= f.text_field :revision_number %>
  </p>
  <p>
    <%= f.label :revision_date %><br />
    <%= f.date_select :revision_date %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @revision %> |
<%= link_to 'Back', revisions_path %>