    <h2>Current Activities</h2>
    <table class="listing">
  <tr>
      <th><%=order(@search, :by => :short_name, :as => "Rulemaking") %></th>
      <th>Project Manager</th>
      <th><%=order(@search, :by => :phase, :as=>"Actual Phase <br> as of "+Revision.maximum(:revision_date).to_s) %></th>
      <th><%=order(@search, :by => :activity, :as=>"Actual Activity <br> as of "+Revision.maximum(:revision_date).to_s) %></th>
      <th><%=order(@search, :by => 'milestone_phase', :as=>"Scheduled Phase") %></th>
      <th><%=order(@search, :by => 'milestone_activity', :as=>"Scheduled Activity") %></th>
      <th>Legislative Deadline</th>
      <th><%=order(@search, :by => :milestone, :as => "Projected Finish") %></th>
      <th>Schedule Lag</th>

  </tr>
  <% @current.each do |milestone| %>
  <tr class="listing <%= cycle('odd', 'even') %>" >
    <td class="attribute"><%=h milestone.rulemaking.short_name %></td>
    <td class ="listing"><%= h milestone.rulemaking.doe_project_manager.try(:project_manager) %> </td>
    <td class ="listing"><%= h milestone.rulemaking.phase.try(:phase) %> </td>
    <td class ="listing"><%= h milestone.rulemaking.activity.try(:activity)  %> </td>
    <td class ="listing"><%= h milestone.phase.phase %> </td>
    <td class ="listing"><%= h milestone.activity.activity %> </td>
    <td class ="listing"><%= h milestone.rulemaking.try(:legislative_deadline) %> </td>
    <td class ="lsiting"><%= h milestone.milestone %></td>
    <% planned_finish = @planned_finishes.detect{|i|i.rulemaking_id == milestone.rulemaking_id and i.phase_id == milestone.phase_id and i.activity_id == milestone.activity_id and i.date_category_id == 2}  %>
     
    <td>
      <% if planned_finish && milestone.rulemaking.legislative_deadline %>
          <%= schedule_lag(milestone.milestone, planned_finish.milestone, milestone.rulemaking.legislative_deadline) %>
      <% end %>
    </td>
  </tr>
  <%  end %>
    </table>