<h1>The new DOE Appliance Legislation Mapper (DALM)</h1>
<p>Primary inputs:</p>
<p><%= link_to "Activities", activities_path %></p>
<p><%= link_to "Date Categories", date_categories_path %></p>
<p><%= link_to "DOE Project Managers", doe_project_managers_path %></p>
<p><%= link_to "Drivers", drivers_path %></p>
<p><%= link_to "Milestones", milestones_path %></p>
<p><%= link_to "Phases", phases_path %></p>
<p><%= link_to "Rule Types", rule_types_path %></p>
<p><%= link_to "Rulemakings", rulemakings_path %></p>
