 <% form_for @search do |f| %>

   Rulemaking: <%= f.collection_select :rulemaking_id, Rulemaking.all(:order => :short_name), :id, :short_name, :include_blank => true %>
    Phase: <%= f.collection_select :phase_id, Phase.all, :id, :phase, :include_blank => true %>
    Activity: <%= f.collection_select :activity_id, Activity.all, :id, :activity, :include_blank => true %><br />
    Date Category: <%= f.collection_select :date_category_id, DateCategory.all, :id, :date_category, :include_blank => true %>
    Milestone between: <%= f.text_field :milestone_gt, :size => 9 %>
    and: <%= f.text_field :milestone_lt, :size => 9 %>
    Revision: <%= f.collection_select(:revision_number, Revision.all, :revision_number, :revision_date) %>
    <%= f.submit "Search" %>
<% end %>

<table class="datatable">
  <tr>
      <th><%=order(@search, :by => :short_name, :as => "Rulemaking") %></th>
      <th><%=order(@search, :by => :phase) %></th>
      <th><%=order(@search, :by => :activity) %></th>
      <th><%=order(@search, :by => :date_category) %></th>
      <th><%=order(@search, :by => :milestone) %></th>
      <th>Time from Today</th>
  </tr>
    <% @milestone_data.each do |milestone| %>
  <tr class="<%= cycle('odd', 'even') %>" >
    <td><%= link_to(milestone.rulemaking.short_name, rulemaking_path(milestone.rulemaking_id)) %></td>
    <td><%= h milestone.phase.phase %> </td>
    <td><%= h milestone.activity.activity %> </td>
    <td><%= h milestone.date_category.date_category %> </td>
    <td><%= h milestone.milestone %></td>
    <td><%= distance_of_time_in_words(Date.today, milestone.milestone)  + (milestone.milestone >  Date.today ? " from now" : " ago") unless milestone.milestone < '1970-01-01'.to_date   %> </td>
  </tr>
<% end %>
</table>