<h1>Listing contractors</h1>

<table class="datatable">
  <tr>
    <th>Contractor</th>
    <th>Abbreviation</th>
  </tr>

<% @contractors.each do |contractor| %>
  <tr>
    <td><%= h contractor.contractor %></td>
    <td><%=h contractor.abbreviation %></td>
    <% if admin? %>
      <td><%= link_to 'Edit', edit_contractor_path(contractor) %></td>
      <td><%= link_to 'Destroy', contractor, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contractor', new_contractor_path %>