<h1>Listing activities</h1>

<table>
  <tr>
    <th>Activity</th>
    <th>Activity abbreviation</th>
    <th>Sort</th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%=h activity.activity %></td>
    <td><%=h activity.activity_abbreviation %></td>
    <td><%=h activity.sort %></td>

  <% if admin?  %>
      <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
      <td><%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if admin? %>
  <%= link_to 'New activity', new_activity_path, :class=>"button" %>
<% end %>