<p>
  <b>Activity:</b>
  <%=h @activity.activity %>
</p>

<p>
  <b>Activity abbreviation:</b>
  <%=h @activity.activity_abbreviation %>
</p>

<p>
  <b>Sort:</b>
  <%=h @activity.sort %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>