<div class="span-16">
  <h2>DOE Appliance Standards Legislation</h2>
</div>

<div class="span-8 last">
  <p>You are logged in as <%=h current_user.login %>. <%= link_to 'Log out', logout_path %> | <%= link_to 'My account', edit_user_path(current_user) %></p>

</div>

<div class="span-20">
  <div id="navigation">
  <ul>
    <li><%= link_to "Home", root_path %>  </li>
    <li><%= link_to  'Search', '/home/search' %>  </li>
    <li><%= link_to  'Rulemakings', rulemakings_path %>  </li>
  </ul>
  </div>
</div>
<div class="span-4 last" id="flash_notices_go_here_if_there_are_any">
  <% if flash[:notice] %> 
  <div class="success"><%= flash[:notice] %></div>
  <% end %>
</div>
