<!DOCTYPE html>
<html>
<head>
  <title>DALM: <%= controller.action_name %></title>
  <%= javascript_include_tag 'jquery', 'jquery.tablednd_0_5', 'jquery.form', 'jquery.dragsort-0.3', 'jquery.autocomplete', 'cycle', 'admin', 'rails', 'application', :cache => true %>
  <%= stylesheet_link_tag 'reset', 'cockpit', 'admin' %>
  <%= stylesheet_link_tag "/javascripts/jscalendar-1.0/calendar-win2k-cold-1.css" %>
  <%= javascript_include_tag "jscalendar-1.0/calendar.js" %>
  <%= javascript_include_tag "jscalendar-1.0/lang/calendar-en.js" %>
  <%= javascript_include_tag "jscalendar-1.0/calendar-setup.js" %>

</head>
<body>
    <div id="identity">
      <h1><%= link_to 'DOE Appliance Legislation', root_path %></h1>
      <% if logged_in? %>

        <h3>You are logged in as <%=h current_user.login %>.</h3>
        <h3><%= link_to 'Log out', logout_path %></h3>
      <% else %>
        <h3><%= link_to 'Log in', login_path %></h3>
  <% end %>
    </div>
    
    <div id="wrapper">
      <div id="container">
        <div class="banner section">
          <%= render :partial => 'layouts/navigation' %>
        </div>
        <div class="header section">
          <h1><%= yield :title %></h1>
          <%- if (header = yield :header) && !@show_header == true %>
            <%= header %>
          <% end %>
        </div>
        <div class="content section">
          <%= reports_for_page %>
          <%= yield %>
        </div>
      </div>
    </div>
</body>
</html>
